.cards {
	width: 90.666667vw;

	margin-top: 32.266667vw;
}

.cards__title {
	/* height: 46px; */
	margin-bottom: 21.333334vw;
}

.card {
	width: 90.666667vw;
	height: 94.666667vw;
	font-size: 2.666667vw;
	font-weight: 400;
}

.card__border {
	width: 90.666667vw;
	height: 94.666667vw;
	border: 0.266665vw solid var(--color2);

	position: absolute;
	z-index: -1;
}

.card__firstPart {
	display: flex;
}

.card__imageBlock {
	width: 88vw;
	height: 50.666667vw;
}

.card__degrees {
	width: 14.4vw;
	height: 7.466667vw;
	background-color: rgb(251, 226, 0);
	font-size: 4.266667vw;
	font-weight: 700;

	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
}

.card__image {
	width: 88vw;
	height: 50.666667vw;
}

.card__line {
	width: 2.666667vw;
	height: 50.666667vw;
	background-color: rgb(117, 59, 189);
}

.card__secondPart {
	padding: 5.333333vw 5.066667vw 5.066667vw 5.066667vw;
}

.card__title {
	height: 6.4vw;
	line-height: 133%;

	margin-bottom: 4.8vw;
}

.card__subtitle {
	height: 4.8vw;
	font-size: 4.266667vw;
	font-weight: 500;
	line-height: 115%;

	margin-bottom: 8vw;
}

.card__duration {
	height: 3.2vw;
	line-height: 115%;

	display: flex;
	align-items: center;
	margin-bottom: 2.933333vw;
}

.card__durationIcon {
	width: 2.56vw;
	height: 2.56vw;

	margin: 0.32vw 2.986667vw 0.32vw 0.32vw;
}

.card__duration p, .card__cost p {
	height: 2.933333vw;
}

.card__costIcon {
	width: 2.56vw;
	height: 2.24vw;

	margin: 0.32vw 2.986667vw 0.32vw 0.32vw;
}

.card__cost {
	height: 3.2vw;
	line-height: 115%;

	display: flex;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.cards {
		width: 89.583333vw;
	
		margin-top: 4.166667vw;
	}
	
	.cards__title {
		margin-bottom: 4.166667vw;
	}
	
	.card {
		width: 45.572917vw;
		height: 11.71875vw;
		font-size: 0.625vw;

		display: flex;
		justify-content: space-between;
	}
	
	.card__border {
		width: 45.052083vw;
		height: 11.71875vw;
		border: 0.052083vw solid var(--color2);
	}
	
	.card__firstPart {
		display: flex;
	}
	
	.card__imageBlock {
		width: 17.1875vw;
		height: 11.71875vw;
	}
	
	.card__degrees {
		width: 2.8125vw;
		height: 1.458333vw;
		font-size: 0.833333vw;
	}
	
	.card__image {
		width: 17.1875vw;
		height: 11.71875vw;
	}
	
	.card__line {
		width: 0.520833vw;
		height: 11.71875vw;
	}
	
	.card__secondPart {
		width: 27.864583vw;
		order: -1;

		padding: 1.5625vw;
	}
	
	.card__title {
		height: 1.5625vw;
		line-height: 125%;
	
		margin-bottom: 5px;
	}
	
	.card__subtitle {
		height: 0.9375vw;
		font-size: 0.833333vw;
	
		margin-bottom: 2.34375vw;
	}
	
	.card__duration {
		height: 0.78125vw;
		font-size: 0.625vw;
	
		margin-bottom: 0.78125vw;
	}
	
	.card__durationIcon {
		width: 0.625vw;
		height: 0.625vw;
	
		margin: 0.078125vw 0.598958vw 0.078125vw 0.078125vw;
	}
	
	.card__duration p, .card__cost p {
		height: 0.729166vw;
	}
	
	.card__costIcon {
		width: 0.625vw;
		height: 0.546875vw;
	
		margin: 0.117188vw 0.598958vw 0.117188vw 0.078125vw;
	}
	
	.card__cost {
		height: 0.729167vw;
		font-size: 0.625vw;
	}

	.card:not(:last-child) .card__border {
		border-bottom: none;
	}
}