.header {
	width: 100vw;
	height: 16vw;
	border: 0.266667vw solid var(--color2);

	display: flex;
}

.header__logo {
	width: 11.733334vw;
	height: 11.733334vw;
}

.header__nav {
	display: none;
}

.header__btn {
	width: 16vw;
	height: calc(16vw - 0.266667vw);
	border-left: 0.266667vw solid var(--color2);
}

.header__burger {
	width: 4.168vw;
	width: 4.168vw;
}