.header {
	height: 16vw;
	border: 0.266667vw solid var(--color2);

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	width: 11.733334vw;
	height: 11.733334vw;

	margin-left: 3.733334vw;
}

.header__logo img {
	width: 100%;
	height: 100%;
}

.header__nav {
	display: flex;
}

.header__list {
	display: none;
}

.header__btn {
	width: 15.733334vw;
	height: 15.466667vw;
	border-left: 0.266667vw solid var(--color2);
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
}

.header__burger {
	width: 4.168vw;
	height: 3.666667vw;
}

.header__search {
	width: 4.168vw;
	height: 4.168vw;
}

@media screen and (min-width: 768px) {
	.header {
		height: 2.760417vw;
		border: 0.052084vw solid var(--color2);
	}
	
	.header__logo {
		width: 1.822917vw;
		height: 1.822917vw;
	
		margin-left: 0.729167vw;
	}
	
	.header__nav {
		font-size: 0.729167vw;
		font-weight: 500;
		line-height: 128%;

		display: flex;
	}

	.header__list {
		display: flex;
		margin-right: 1.041667vw;
	}

	.header__list li {
		height: 2.760417vw;
		cursor: pointer;

		display: flex;
		align-items: center;
		padding: 0px 1.041667vw;
	}

	.header__list a {
		text-align: center;
	}

	/* .header__list li:nth-child(1) a {
		width: 1.875vw;
	}

	.header__list li:nth-child(2) a {
		width: 4.166667vw;
	}

	.header__list li:nth-child(3) a {
		width: 3.072917vw;
	}

	.header__list li:nth-child(4) a {
		width: 4.947917vw;
	}

	.header__list li:nth-child(5) a {
		width: 3.020833vw;
	}

	.header__list li:nth-child(6) a {
		width: 2.96875vw;
	} */

	.header button:first-of-type {
		display: none;
	}
	
	.header__btn {
		width: 2.708334vw;
		height: 2.65625vw;
		border-left: 0.052083vw solid var(--color2);
	}
	
	.header__search {
		width: 0.814063vw;
		height: 0.814063vw;
	}
}