.post {
	width: 90.666667vw;
	color: var(--font-color2);

	margin-top: 21.333333vw;
	margin-bottom: 10.933333vw;
}

.post__title {
	margin-bottom: 21.333333vw;
}

.post__container {
	display: flex;
}

.post__image1 {
	width: 13.333333vw;
	height: 104.533333vw;
	object-fit: cover;
}

.post__line {
	width: 4vw;
	height: 104.533333vw;
	background-color: rgb(5, 195, 222);
}

.post__content {
	width: 73.333333vw;

	display: flex;
	flex-direction: column;
	padding: 8vw;
}

.post__heading {
	width: 45.866667vw;

	position: absolute;
}

.post__heading h3 {
	height: 6.933333vw;
	line-height: 100%;

	margin-bottom: 2.666667vw;
}

.post__content p {
	font-size: 3.2vw;
	font-weight: 500;
	line-height: 157%;
	letter-spacing: 0.03em;
	color: var(--color3);

	margin-top: 9.6vw;
	margin-bottom: 5.333333vw;
}

.post__dash {
	display: none;
}

.post__btn {
	width: 57.333333vw;
	height: 12.8vw;
	border: 0.266667vw solid var(--color2);
	font-size: 3.733333vw;
	font-weight: 700;
	line-height: 128%;
	letter-spacing: 0.03em;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 69.066667vw;
}

.post__event {
	border-bottom: 0.266667vw solid var(--color2);

	display: flex;
	padding-bottom: 2.666667vw;
	margin-bottom: 4vw;
}

.post__event:last-child {
	margin-bottom: 5.333333vw;
}

.post__eventIcon {
	width: 5.333333vw;
	height: 5.333333vw;

	margin-right: 4vw;
}

.post__text {
	width: 41.866667vw;
	font-size: 4.266667vw;
	font-weight: 500;
	line-height: 138%;
	color: var(--font-color2);

	margin-right: 2.666667vw;
}

.post__text span:first-child {
	color: var(--font-color3);
}

.post__text span:last-child {
	display: none;
}

.post__arrowIcon {
	width: 3.466667vw;
	height: 3.466667vw;
	cursor: pointer;
}

.post__image2 {
	display: none;
}

@media screen and (min-width: 768px) {
	.post {
		width: 89.583333vw;
	
		margin-top: 4.166667vw;
		margin-bottom: 5.208333vw;
	}
	
	.post__title {
		margin-bottom: 4.166667vw;
	}
	
	.post__container {
		display: flex;
	}
	
	.post__image1 {
		width: 26.25vw;
		height: 20.46875vw;
		object-fit: cover;
	}
	
	.post__line {
		width: 2.083333vw;
		height: 20.46875vw;
		background-color: rgb(5, 195, 222);
		order: 4;
	}
	
	.post__content {
		width: 52.5vw;
		background-color: var(--color4);
	
		padding: 4.166667vw 4.375vw;
	}
	
	.post__heading {
		width: 25.572917vw;
		z-index: 0;
		
		display: flex;
		align-items: center;
		position: relative;
		margin-bottom: 1.5625vw;
	}
	
	.post__heading h3 {
		height: 2.395833vw;
		line-height: 100%;

		margin-bottom: 0px;
	}

	.post__dash {
		width: 2.083333vw;
		height: 0.104167vw;
		background-color: var(--color2);

		display: block;
		margin: 0px 0.885417vw;
	}
	
	.post__content p {
		font-size: 0.729167vw;
		font-weight: 500;
		line-height: 157%;
		letter-spacing: 0.03em;
		color: var(--color3);
		margin-top: 0px;
		margin-bottom: 1.5625vw;
	}
	
	.post__btn {
		width: 5.833333vw;
		height: 0.9375vw;
		border: none;
		font-size: 0.729167vw;
		font-weight: 700;
		line-height: 128%;
		letter-spacing: 0.03em;

		margin-top: 0px;
	}
	
	.post__event {
		width: 43.75vw;
		height: 2.34375vw;
		border-bottom: 0.052083vw solid var(--color2);
	
		display: flex;
		align-items: center;
		padding-bottom: 0.989583vw;
		margin-bottom: 0.78125vw;
	}
	
	.post__event:last-child {
		margin-bottom: 0px;
	}
	
	.post__eventIcon {
		width: 1.041667vw;
		height: 1.041667vw;
	
		margin-right: 0.78125vw;
	}
	
	.post__text {
		width: 35.78125vw;
		font-size: 0.9375vw;
		font-weight: 500;
		line-height: 100%;
		color: var(--font-color2);
		
		margin-right: 4.6875vw;
	}
	
	.post__text span:last-child {
		display: inline;
	}
	
	.post__arrowIcon {
		width: 0.677083vw;
		height: 0.677083vw;
	}
	
	.post__image2 {
		width: 8.75vw;
		height: 20.46875vw;

		display: block;
	}
}