* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--color1);
}

a,
a:visited {
	color: inherit;
	text-decoration: none;
}

button {
	border: none;
	background-color: transparent;
}