* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
	color: var(--font-color1);
	background-color: var(--color1);
}

a,
a:visited {
	color: inherit;
	line-height: inherit;
	text-decoration: none;
}

button {
	border: none;
	background-color: transparent;
}

ul {
	list-style: none;

	display: flex;
}

h2, h3, h4 {
	font-weight: 700;
}

h2 {
	font-size: 12.266667vw;
}

h3 {
	font-size: 6.933334vw;
}

h4 {
	font-size: 4.8vw;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

@media screen and (min-width: 768px) {
	h2, h3 {
		font-size: 2.395833vw;
	}
	
	h4 {
		font-size: 1.25vw;
	}
}