:root {
	--color1: rgb(255, 255, 255);
	--color2: rgb(221, 221, 221);
	--color3: rgb(118, 118, 118);
	--font-color1: rgb(0, 0, 0);
	--font-color2: rgb(19, 19, 19);
	--font-color3: rgb(117, 59, 189);
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}

main {
	display: flex;
	justify-content: center;
}